body
h1 {
    color: red;
    font-family: calibri;
    font-size: 300%;
   }
h2 {
    color: orange;
    font-family: calibri;
    font-size: 200%;
   }
h3 {
    color: violet;
    font-family: italic;
    font-size: 150%;
   }
h4 {
    color: blue;
    font-family: arial;
    font-size: 120%;
   }
p {
    color: gray;
    font-family: elephant;
    font-size: 110%;
   }